<!DOCTYPE html>
<html ng-app="tickets">
<head>
  <title>Tickets</title>
   <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <ui-view></ui-view> -->
	<%= yield %>

</body>
</html>
